<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Xin chào Minh!</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Xem thông tin
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hoa-don">
                <span class="oi oi-plus" aria-hidden="true"></span> Hóa đơn
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dich-vu">
                <span class="oi oi-plus" aria-hidden="true"></span> Dịch vụ
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="yeu-cau-bao-tri">
                <span class="oi oi-plus" aria-hidden="true"></span> Yêu cầu bảo trì
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="thong-bao">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Thông báo
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
